In [19]:
import numpy as np
import pandas as pd
from SRC.tools import show, inspect
from IPython.core.interactiveshell import InteractiveShell as ish
import warnings; warnings.filterwarnings('ignore')
from SRC.tools import load

In [20]:
name = '/net/cremi/mboivent/Bureau/espaces/travail/S8/monGit/main_projet_optim/Projet-d-optimisation/code/Experimentations/results_n5.txt'
fwf_n5 = pd.read_csv(name, delim_whitespace=True, header=0)
fwf_n5

,n,p,i,v,c,erreur,statut,etat,temps_creation,temps,gap,obj,obj_upper,obj_lower
0,5,1,1,1,0,ras,True,True,0.00295,0.003,0.0,124.91,124.91,124.91
1,5,1,1,1,1,ras,True,True,0.00263,0.003,0.0,124.91,124.91,124.91
2,5,1,1,1,2,ras,True,True,0.00180,0.003,0.0,124.91,124.91,124.91
3,5,1,1,2,0,ras,True,True,0.00283,0.004,0.0,124.91,124.91,124.91
4,5,1,1,2,1,ras,True,True,0.00876,0.005,0.0,124.91,124.91,124.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,5,3,5,2,1,ras,True,True,0.00821,0.005,0.0,61.20,61.20,61.20
131,5,3,5,2,2,ras,True,True,0.00937,0.006,0.0,61.20,61.20,61.20
132,5,3,5,3,0,ras,True,True,0.00239,0.004,0.0,61.20,61.20,61.20
133,5,3,5,3,1,ras,True,True,0.00925,0.005,0.0,61.20,61.20,61.20
134,5,3,5,3,2,ras,True,True,0.00948,0.006,0.0,61.20,61.20,61.20

In [21]:
name = '/net/cremi/mboivent/Bureau/espaces/travail/S8/monGit/main_projet_optim/Projet-d-optimisation/code/Experimentations/results_n10.txt'
fwf_n10 = pd.read_csv(name, delim_whitespace=True, header=0)
fwf_n10

,n,p,i,v,c,erreur,statut,etat,temps_creation,temps,gap,obj,obj_upper,obj_lower
0,10,1,1,1,0,ras,True,True,0.01107,0.008,0.0,199.28,199.28,199.28
1,10,1,1,1,1,ras,True,True,0.01047,0.008,0.0,199.28,199.28,199.28
2,10,1,1,1,2,ras,True,True,0.00783,0.006,0.0,199.28,199.28,199.28
3,10,1,1,2,0,ras,True,True,0.01052,0.015,0.0,199.28,199.28,199.28
4,10,1,1,2,1,ras,True,True,0.01373,0.023,0.0,199.28,199.28,199.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,10,3,5,2,1,ras,True,True,0.01203,0.181,0.0,136.00,136.00,136.00
131,10,3,5,2,2,ras,True,True,0.02548,0.519,0.5,161.11,161.11,160.31
132,10,3,5,3,0,ras,True,True,0.01073,0.023,0.0,135.72,135.72,135.72
133,10,3,5,3,1,ras,True,True,0.01490,0.072,0.0,161.11,161.11,161.11
134,10,3,5,3,2,ras,True,True,0.02151,0.239,0.0,161.11,161.11,161.11

In [22]:
name = '/net/cremi/mboivent/Bureau/espaces/travail/S8/monGit/main_projet_optim/Projet-d-optimisation/code/Experimentations/results_n20.txt'
fwf_n20 = pd.read_csv(name, delim_whitespace=True, header=0)
fwf_n20

,n,p,i,v,c,erreur,statut,etat,temps_creation,temps,gap,obj,obj_upper,obj_lower
0,20,2,1,1,0,ras,True,True,0.01068,0.484,0.00,206.23,206.23,206.230
1,20,2,1,1,1,ras,True,True,0.01073,2.294,0.16,206.23,206.23,205.909
2,20,2,1,1,2,ras,True,True,0.01099,0.894,0.00,206.23,206.23,206.230
3,20,2,1,2,0,ras,True,True,0.04314,0.813,0.00,206.23,206.23,206.230
4,20,2,1,2,1,ras,True,True,0.06205,1.408,0.00,206.23,206.23,206.230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,20,6,5,2,1,ras,True,True,0.06132,5.348,0.80,123.70,123.70,122.711
131,20,6,5,2,2,ras,True,True,0.23830,8.386,0.00,150.47,150.47,150.470
132,20,6,5,3,0,ras,True,True,0.03905,0.220,0.00,123.69,123.69,123.690
133,20,6,5,3,1,ras,True,True,0.05742,1.317,0.00,150.47,150.47,150.470
134,20,6,5,3,2,ras,True,True,0.21620,2.453,0.00,150.47,150.47,150.470

In [57]:
name = '/net/cremi/mboivent/Bureau/espaces/travail/S8/monGit/main_projet_optim/Projet-d-optimisation/code/Experimentations/results_n30.txt'
fwf_n30 = pd.read_csv(name, delim_whitespace=True, header=0)
fwf_n30

,n,p,i,v,c,erreur,statut,etat,temps_creation,temps,gap,obj,obj_upper,obj_lower
0,30,3,1,1,0,ras,True,True,0.01768,1.342,0.00,194.88,194.88,194.880
1,30,3,1,1,1,ras,True,True,0.01519,8.404,0.08,216.26,216.26,216.090
2,30,3,1,1,2,ras,True,True,0.01478,2.534,0.40,216.18,216.18,215.313
3,30,3,1,2,0,ras,True,True,0.15998,1.344,0.00,194.88,194.88,194.880
4,30,3,1,2,1,ras,True,True,0.25471,4.538,0.00,194.89,194.89,194.890
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,30,10,5,2,1,ras,True,True,0.25210,27.694,0.93,98.09,98.09,97.180
131,30,10,5,2,2,ras,True,True,1.17539,193.544,0.67,142.20,142.20,141.242
132,30,10,5,3,0,ras,True,True,0.14656,1.340,0.00,98.08,98.08,98.080
133,30,10,5,3,1,ras,True,True,0.23088,18.099,0.00,142.20,142.20,142.200
134,30,10,5,3,2,ras,True,True,1.20444,21.622,0.00,142.20,142.20,142.200

In [ ]:
name = '/net/cremi/mboivent/Bureau/espaces/travail/S8/monGit/main_projet_optim/Projet-d-optimisation/code/Experimentations/results_n50.txt'
fwf_n50 = pd.read_csv(name, delim_whitespace=True, header=0)
fwf_n50

In [58]:
fwf = pd.concat([fwf_n5, fwf_n10, fwf_n20, fwf_n30], ignore_index=True)
fwf

,n,p,i,v,c,erreur,statut,etat,temps_creation,temps,gap,obj,obj_upper,obj_lower
0,5,1,1,1,0,ras,True,True,0.00295,0.003,0.00,124.91,124.91,124.910
1,5,1,1,1,1,ras,True,True,0.00263,0.003,0.00,124.91,124.91,124.910
2,5,1,1,1,2,ras,True,True,0.00180,0.003,0.00,124.91,124.91,124.910
3,5,1,1,2,0,ras,True,True,0.00283,0.004,0.00,124.91,124.91,124.910
4,5,1,1,2,1,ras,True,True,0.00876,0.005,0.00,124.91,124.91,124.910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,30,10,5,2,1,ras,True,True,0.25210,27.694,0.93,98.09,98.09,97.180
536,30,10,5,2,2,ras,True,True,1.17539,193.544,0.67,142.20,142.20,141.242
537,30,10,5,3,0,ras,True,True,0.14656,1.340,0.00,98.08,98.08,98.080
538,30,10,5,3,1,ras,True,True,0.23088,18.099,0.00,142.20,142.20,142.200
539,30,10,5,3,2,ras,True,True,1.20444,21.622,0.00,142.20,142.20,142.200

Nombre d'instances irrÃ©alisables (temps limite atteint sans avoir trouvÃ© de solution rÃ©alisable).

In [59]:
len(fwf[fwf["statut"]==False].drop_duplicates(subset=["n", "p", "i"]))

2

Moyennes des temps pris pour rÃ©soudre les instances, lorsque l'instance est prouvÃ©e rÃ©alisable.

On dit prouvÃ©e rÃ©alisable, car ce n'est pas parce qu'on a pas trouvÃ© de solution rÃ©alisable dans le temps imparti que le problÃ¨me est irrÃ©alisable.\
On peut simplement avoir une instance avec trop de noeuds pour que le solveur trouve une solution rÃ©alisable dans le temps imparti, mÃªme si il en existe.

In [63]:
for i in range (1,4):
    print("version ", i, " sans capacitÃ© : ", fwf["temps"][(fwf["statut"]==True) & (fwf["v"]==i) & (fwf["c"]==0)].mean())

version  1  sans capacitÃ© :  0.5060166666666667
version  2  sans capacitÃ© :  1.8413833333333334
version  3  sans capacitÃ© :  0.4869

In [64]:
for i in range (1,4):
    print("version ", i, " avec capacitÃ© : ", fwf["temps"][(fwf["statut"]==True) & (fwf["v"]==i) & (fwf["c"]>0)].mean())

version  1  avec capacitÃ© :  2.012198275862069
version  2  avec capacitÃ© :  24.919637931034483
version  3  avec capacitÃ© :  5.978068965517242

Peut Ãªtre sÃ©parer les versions abvec capacitÃ©